<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
    <title>Crypto Currency Info Displayer</title>
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
	<style>
		/* .myheader grabbed from Bootstrap's jumbotron example - https://getbootstrap.com/docs/4.0/examples/jumbotron/ */
		.myheader{
			background-color: #e9ecef;
			padding: 4rem 2rem;
			margin-bottom:2rem;
		}
		
		input.form-control{
			display: inline-block;
			width: 20rem;
			margin-right:1rem;
		}
		.search-row{
			margin-bottom:1rem;
		}
	</style>
</head>
<body>
<div id="app">
	<div class="myheader">
		<h1 class="display-5">{{ title }}</h1>
		<p class="lead text-muted">In this example we are hitting the <b>CoinMarketCap</b> web service located at: https://api.coinmarketcap.com/v1/ticker/</p>
		<p class="text-muted">Because we are using the Fetch API, we can download ordinary JSON, rather than JSON-P.</p>
	</div>			
	
	<div class="container">
		<div class="row search-row">
			<div class="col-md-12">
				<button class="btn btn-outline-success" type="submit" @click="search">Search</button>
				<select v-model="selectLimit">
						<option value=1>1</option>
						<option value=2>2</option>
						<option value=3>3</option>
						<option value=4>4</option>
						<option value=5>5</option>
						<option value=100>100</option>
				</select>
			</div>
		</div> <!-- end row -->

		<div class="row">
			<div class="col-md-12">
				<ul v-for="r in filteredResults">
					<li v-text="r.symbol"></li>
					<li v-text="r.price_usd"></li>
					<li v-text="r.name"></li>
				</ul>
			</div>
		</div> <!-- end row -->
	</div> <!-- end container -->	
</div> <!-- end #app -->

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
<script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

<script>
	
const app = new Vue({
	el: '#app',
	data: {
        title: "Ajax Vue Crypto Currency Information Getter",
		result: [],
		selectLimit:0
	},
	computed: {
		filteredResults: function(){
			return this.result.slice(0,this.selectLimit);
		}
	},
    created(){
        this.search()
    },
	methods:{
	    search(){
            //if (! this.term.trim()) return;
            fetch("https://api.coinmarketcap.com/v1/ticker/")
            .then(response => {
                if(!response.ok){
                    throw Error(`ERROR: ${response.statusText}`);
                }
                return response.json();
            })
            .then(json => {	
                console.log(json);
                this.result = json;
            })
		}, // end search
		/**
		resultsArray(){
			let results = []
			for(r in this.result){
				results.push({r:symbol});
				results.push({r:price_usd});
				results.push({r:name});
			}
			return results;
		}// end resultsArray
		**/
	} // end methods
});

</script>
</body>
</html>